<!DOCTYPE html>
<html>
<head>
	<title>Visualized Twitter Search</title>
	<meta name = "viewport" content = "initial-scale=1.0, user-scalable=no"/>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- access Google Maps API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf89qb1_8rmJuun-1qdC07qLBLNIcV_-U">
	</script>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
